#logo{
	background: url(../images/web-logo-white.png);
	background-repeat: no-repeat;
}
.green {
    color: #39FF14;
}
.red{
  color:#f3002d;
}
.grey{
  color:#555555;
}
.white{
  color:white;
}
.black{
  color:black;
}
.platinum{
  color:red;
}
.join{
	border-radius: 0px;
	height: 20px;
	margin-top: 7px;
}

.button-outline{
    background-color: white;
}
.search-input{
  border-radius: 0;
}
.search-button{
  border-radius: 0;
}

.pizza-font-size{
  font-size: 1.5em;
}


/*Join*/
.form-join {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-join .form-join-heading,
.form-join .checkbox {
  margin-bottom: 10px;
}
.form-join .checkbox {
  font-weight: normal;
}
.form-join .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-join .form-control:focus {
  z-index: 2;
}
.form-join input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-join input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*Login*/
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Create Site*/
.form-create-site {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-create-site .form-create-site-heading,
.form-create-site .checkbox {
  margin-bottom: 10px;
}

/*Edit Site*/
.form-edit-site {
  max-width: 600px;
  padding: 15px;
}
.form-edit-site .form-edit-site-heading,
.form-edit-site .checkbox {
  margin-bottom: 10px;
}
.margin-edit-site {
  margin-bottom: 0;
}

/* Create Event*/
.form-create-event {
  max-width: 500px;
  padding: 15px;
}
.form-create-event .form-create-event-heading,
.form-create-event .checkbox {
  margin-bottom: 10px;
}
.margin-create-event {
  margin-bottom: 0;
}

/* Edit Event*/
.form-edit-event {
  max-width: 500px;
  padding: 15px;
}
.form-edit-event .form-edit-event-heading,
.form-edit-event .checkbox {
  margin-bottom: 10px;
}
.margin-edit-event {
  margin-bottom: 0;
}

/*Edit Profile*/
.form-edit-profile {
  max-width: 500px;
  padding: 15px;
}
.form-edit-profile .form-edit-profile-heading,
.form-edit-profile .checkbox {
  margin-bottom: 10px;
}
.margin-edit-profile {
  margin-bottom: 0;
}

/*Change Password*/
.form-edit-password {
  max-width: 500px;
  padding: 15px;
}
.form-edit-password .form-edit-password-heading,
.form-edit-password .checkbox {
  margin-bottom: 10px;
}
.margin-edit-password {
  margin-bottom: 0;
}

.datepicker{z-index:1151 !important;}


.list-event:hover{
  text-decoration: none;
  background-color: #eeeeee;
}
.list-event a{
  color: black;
}

.list-event a:hover{
  text-decoration: none;
}

.event-list{
  min-height: 200px !important;
  overflow: scroll;
  padding: 0;
}
.event-list-item{
  height:40px; 
  line-height: 40px;
}
.event-list-item:hover{
  background-color: #eeeeee;
  cursor: pointer;
}
.event-list-item a{
  color:black;
  text-decoration: none;
}
.show{
  display: block;
}
.hide-event{
  display: none;
}
.hide-event:hover{
    background-color: #eeeeee;

}


.hide-event a{
  color: black;
}
.hide-event a:hover{
  text-decoration: none;
}

.hide-pizza{
  display: none;
}

.imagewrap {display:inline-block;position:relative;}
.input-image-file {position:absolute;top:10px;right:-30px;}
.submit-image-file {position:absolute;top:10px;right:-70px;}

.glyphicon-file {
    position: relative;
    overflow: hidden;
}
.glyphicon-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.glyphicon-submit {
    position: relative;
    overflow: hidden;
}

.glyphicon-submit input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
span.glyphicon-camera {
    font-size: 2em;
}
span.glyphicon-camera:hover {
    cursor: pointer;
}

span.glyphicon-upload {
    font-size: 2em;
}
span.glyphicon-upload:hover {
    cursor: pointer;
}
span.glyphicon-ok-crop {
    font-size: 1.2em;
}
span.glyphicon-ok-crop:hover {
    color:#5BC236;
    cursor: pointer;
}

span.glyphicon-down {
    font-size: 3em;
}
span.glyphicon-down:hover{
    color:#39FF14;
    cursor: pointer;
}
.cancel,a.cancel{
  font-size: 1.2em;
  text-decoration: none;
}

.cancel:hover{
  color:#f3002d;
}

.footer {
  position:fixed;
  height:20px;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  line-height: 20px;
  background-color: #f3002d;
  z-index:1151;
}

.footer-link{
  text-decoration: none;
  color:white;
}
.footer-link:hover{
  text-decoration: none;
  color:white;
}

.body-margin{
  margin-bottom: 100px;
}

#map-canvas {
        height: 140px;
        width: 140px;
      }
.transparent {
        background: none;
}
.pizza-btn{
  background-color: #FF6600;
  box-shadow: 2px 2px 5px #FF6600;
  color:white;
  text-shadow: 2px 2px 5px #444444;
  letter-spacing: 1px;
  border-radius:0; 
  min-width:150px;
  padding:0 40px;
}
.pizza-btn:hover{
  background-color: #fc901c;
  text-shadow: 2px 2px 5px #444444;
  color:white;
}

.ads-btn{
  background-color: transparent;
  border: 5px solid #f3002d;
  color:black;
  text-shadow: 2px 2px 5px #aaaaaa;
  letter-spacing: 1px;
  border-radius:0; 
  min-width:120px;
  padding:10px 20px;
  text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.ads-nav{
  padding: 20px;
  margin: 5px;
  min-height: 500px;
}
.ads-nav-plat{
  background-color: #BFB4A0;
  box-shadow: 1px 1px 5px #d7bb88; 
}
.ads-nav-gold{
  background-color: #FAD766;
  box-shadow: 1px 1px 5px #cfc191; 
}
.ads-nav-silver{
  background-color: #E6E6E6;
  box-shadow: 1px 1px 5px #fbd1d1; 
}
/*Carousel*/
#wrapper {
        height: 100%;
        width: 100%;
        min-height: 405px;
        min-width: 720px;
        padding-top: 1px;

      }
      #slider {
        margin: 20px 0;
        height: 405px;
        overflow: hidden;
        background: url(../images/ajax-loader.gif) center center no-repeat;
      }
      
      #slider .slide {
        position: relative;
        display: none;
        height: 405px;
        float: left;
        background-position: center right;
        cursor: pointer;
        border-left: 1px solid #fff;
      }
      
      #slider .slide:first-child {
        border: none;
      }
      
      #slider .slide.active {
        cursor: default;
      }
      
      #slider .slide-block {
        position: absolute;
        left: 40px;
        bottom: 20px;
        display: inline-block;
        width: 500px;
        background-color: #fff;
        background-color: rgba(255,255,255, 0.7); 
        padding: 20px;
        font-size: 14px;
        color: #aaaaaa;
        overflow: hidden;
        box-shadow: 1px 1px 5px #d7bb88;
      }
      #slider .slide-block:hover{
        background-color: #fff;
        background-color: rgba(255,255,255, 1);
        transition: background-color 1s ease;
      }

      .slide-block a{
        text-decoration: none;
        color: #555555;

      }
      
      #slider .slide-block h4 {
        font-size: 36px;
        font-weight: bold;
        margin: 0 0 10px 0;
        line-height: 1;
      }
      #slider .slide-block p {
        margin: 0;
      }
      
.carousel-caption{
  background-color: #fff;
  background-color: rgba(255,255,255, 0.7);
        box-shadow: 1px 1px 5px #d7bb88; 
}
.carousel-caption:hover{
  background-color: #fff;
        background-color: rgba(255,255,255, 1);
        transition: background-color 1s ease;
}

