<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
				<span class="pull-left">
					
					<img src="../<%= event.event_pic %>" width="30px">

				</span>&nbsp;
				<a href="/event/<%= event.id %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="event-item">
					<%= event.event_name %></a>
			</li>
		<% }) %>
	</ul>
</div>
