<div class="cal-month-day">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>

				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event>" data-toggle="tooltip"
					title="<%= event.event_name %>"><img src="../<%= event.event_pic %>" width="28px"></a>
			<% }); %>
		</div>
	<% } %>
</div>
